body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
}

.header {
  background-image: url("../img/beachshowcase.jpg");
  width: 195vh;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.header h1 {
  text-align: center;
  font-size: 50px;
  line-height: 1.2;
}

.background-text {
  font-size: 20px;
}

.header a {
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.header a:hover {
  background-color: #926239;
  color: aliceblue;
}

.text-section {
  background-color: #926239;
  color: aliceblue;
  padding: 20px 20px;
  text-align: center;
  justify-content: center;
}

.text-section2 {
  padding: 20px 20px;
  text-align: center;
  justify-content: center;
}

.section-idool {
  padding: 20px;
  text-align: center;
}

.popajopa {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  text-align: center;
  justify-content: center;
}
